<?xml version="1.0"?>
<config>
    <modules>
       <Paymill_Paymillcc>
          <version>1.0.2</version>
       </Paymill_Paymillcc>
    </modules>
    <global>
        <blocks>
            <paymillcc>
                <class>Paymill_Paymillcc_Block</class>
            </paymillcc>
        </blocks>
        <models>
            <paymillcc>
                <class>Paymill_Paymillcc_Model</class>
            </paymillcc>
        </models>
        <resources>
            <paymillcc_setup>
                <setup>
                    <module>Paymill_Paymillcc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymillcc_setup>
            <paymillcc_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </paymillcc_write>
            <paymillcc_read>
               <connection>
                <use>core_read</use>
              </connection>
            </paymillcc_read>
        </resources>
        <helpers>
            <paymillcc>
                <class>Paymill_Paymillcc_Helper</class>
            </paymillcc>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Paymill_Paymillcc>
                    <files>
                        <default>Paymill_Paymillcc.csv</default>
                    </files>
                </Paymill_Paymillcc>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Paymill_Paymillcc>
                    <files>
                        <default>Paymill_Paymillcc.csv</default>
                    </files>
                </Paymill_Paymillcc>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <paymillcc>
                <active>0</active>
                <model>paymillcc/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Kreditkartenzahlung</title>
                <cctypes>VI,MC</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <paymill_bridge_endpoint>https://bridge.paymill.de/</paymill_bridge_endpoint>
                <paymill_api_endpoint>https://api.paymill.de/v2/</paymill_api_endpoint>
                <paymill_show_credits>1</paymill_show_credits>
                <paymill_accepted_currencies>EUR</paymill_accepted_currencies>
                <paymill_lib_version>v1</paymill_lib_version>
            </paymillcc>
         </payment>
    </default>
</config>