<?xml version="1.0"?>
<config>
    <modules>
       <Paymill_Paymillelv>
          <version>1.0.2</version>
       </Paymill_Paymillelv>
    </modules>
    <global>
        <blocks>
            <paymillelv>
                <class>Paymill_Paymillelv_Block</class>
            </paymillelv>
        </blocks>
        <models>
            <paymillelv>
                <class>Paymill_Paymillelv_Model</class>
            </paymillelv>
        </models>
        <resources>
            <paymillelv_setup>
                <setup>
                    <module>Paymill_Paymillelv</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymillelv_setup>
            <paymillelv_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </paymillelv_write>
            <paymillelv_read>
               <connection>
                <use>core_read</use>
              </connection>
            </paymillelv_read>
        </resources>
        <helpers>
            <paymillelv>
                <class>Paymill_Paymillelv_Helper</class>
            </paymillelv>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Paymill_Paymillelv>
                    <files>
                        <default>Paymill_Paymillelv.csv</default>
                    </files>
                </Paymill_Paymillelv>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Paymill_Paymillelv>
                    <files>
                        <default>Paymill_Paymillelv.csv</default>
                    </files>
                </Paymill_Paymillelv>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <paymillelv>
                <active>0</active>
                <model>paymillelv/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Elektronisches Lastschriftverfahren</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <paymill_bridge_endpoint>https://bridge.paymill.de/</paymill_bridge_endpoint>
                <paymill_api_endpoint>https://api.paymill.de/v2/</paymill_api_endpoint>
                <paymill_show_credits>1</paymill_show_credits>
                <paymill_accepted_currencies>EUR</paymill_accepted_currencies>
            </paymillelv>
         </payment>
    </default>
</config>