<?xml version="1.0"?>
<config>
    <modules>
        <Paymill_Paymill>
            <version>3.6.8</version>
        </Paymill_Paymill>
    </modules>


    <global>
        <blocks>
            <paymill>
                <class>Paymill_Paymill_Block</class>
            </paymill>
        </blocks>

        <models>
            <paymill>
                <class>Paymill_Paymill_Model</class>
                <resourceModel>paymill_mysql4</resourceModel>
            </paymill>
            <paymill_mysql4>
                <class>Paymill_Paymill_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>paymill_log</table>
                    </log>
                    <fastcheckout>
                        <table>paymill_fastCheckout</table>
                    </fastcheckout>
                </entities>
            </paymill_mysql4>
        </models>

        <helpers>
            <paymill>
                <class>Paymill_Paymill_Helper</class>
            </paymill>
        </helpers>

        <resources>
            <paymill_setup>
                <setup>
                    <module>Paymill_Paymill</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymill_setup>

            <paymill_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymill_write>

            <paymill_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymill_read>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <paymill_paymill_model_observer>
                        <type>singleton</type>
                        <class>paymill/observer</class>
                        <method>generateInvoice</method>
                    </paymill_paymill_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>


    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <paymill_creditcard>
                <active>0</active>
                <currency>EUR,USD</currency>
                <model>paymill/method_methodModelCreditcard</model>
                <order_status>processing</order_status>
                <title>paymill_credit_card</title>
                <payment_action>authorize</payment_action>
            </paymill_creditcard>

            <paymill_directdebit>
                <active>0</active>
                <prenotification>7</prenotification>
                <currency>EUR,USD</currency>
                <model>paymill/method_methodModelDirectdebit</model>
                <order_status>pending</order_status>
                <title>paymill_direct_debit</title>
                <payment_action>authorize</payment_action>
            </paymill_directdebit>
        </payment>
    </default>

    <frontend>
        <layout>
            <updates>
                <paymill>
                    <file>paymill.xml</file>
                </paymill>
            </updates>
        </layout>
        <translate>
            <modules>
                <Paymill_Paymill>
                    <files>
                        <default>Paymill_Paymill.csv</default>
                    </files>
                </Paymill_Paymill>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Paymill_Paymill>
                    <files>
                        <default>Paymill_Paymill.csv</default>
                    </files>
                </Paymill_Paymill>
            </modules>
        </translate>
        <layout>
            <updates>
                <paymill>
                    <file>paymill.xml</file>
                </paymill>
            </updates>
        </layout>

        <global_search>
            <paymill_search>
                <class>paymill/log_search</class>
                <acl>paymill</acl>
            </paymill_search>
        </global_search>
    </adminhtml>

    <admin>
        <routers>
            <paymill>
                <use>admin</use>
                <args>
                    <module>Paymill_Paymill</module>
                    <frontName>paymill</frontName>
                </args>
            </paymill>
        </routers>
    </admin>

</config>