.paymill_powered {
    border: 1px solid #ccc;
    width: 350px;
    padding: 4px;
    background: white url('../../images/paymill/icon_paymill.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.paymill_powered > .paymill_credits {
    width: 160px;
    color: #666;
}

.paymill_powered > a {
    color: #666;
    text-decoration: underline;
}

.paymill-card-number-visa
{
    background-image: url('../../images/paymill/icon_32x20_visa.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.paymill-card-number-mastercard
{
    background-image: url('../../images/paymill/icon_32x20_mastercard.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.paymill-card-number-amex
{
    background-image: url('../../images/paymill/icon_32x20_amex.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.paymill-card-number-jcb
{
    background-image: url('../../images/paymill/icon_32x20_jcb.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
        
}

.paymill-card-number-maestro
{
    background-image: url('../../images/paymill/icon_32x20_maestro.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.paymill-card-number-carte-bleue
{
    background-image: url('../../images/paymill/icon_32x20_unionpay.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.paymill-card-number-diners
{
    background-image: url('../../images/paymill/icon_32x20_dinersclub.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.paymill-card-number-discover
{
    background-image: url('../../images/paymill/icon_32x20_discover.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
}

.tooltip 
{
    margin-left: 3px;
    font-size: 11px;
    color: #E2E2E2;
    padding: 0 5px;
    border-radius: 100px;
    background: #636363;
}