.paymill_powered {
    border: 1px solid #ccc;
    width: 350px;
    padding: 4px;
    background: white url('../../images/paymill/icon_paymill.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.paymill_powered > .paymill_credits {
    width: 160px;
    color: #666;
}

.paymill_powered > a {
    color: #666;
    text-decoration: underline;
}

.paymill-card-number-visa
{
    background-image: url('../../images/paymill/icon_32x20_visa.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-mastercard
{
    background-image: url('../../images/paymill/icon_32x20_mastercard.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-amex
{
    background-image: url('../../images/paymill/icon_32x20_amex.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-jcb
{
    background-image: url('../../images/paymill/icon_32x20_jcb.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;

}

.paymill-card-number-maestro
{
    background-image: url('../../images/paymill/icon_32x20_maestro.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-china-unionpay
{
    background-image: url('../../images/paymill/icon_32x20_china-unionpay.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-diners-club
{
    background-image: url('../../images/paymill/icon_32x20_diners-club.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-discover
{
    background-image: url('../../images/paymill/icon_32x20_discover.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-carte-bleue
{
    background-image: url('../../images/paymill/icon_32x20_carte-bleue.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-carta-si
{
    background-image: url('../../images/paymill/icon_32x20_carta-si.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.paymill-card-number-dankort
{
    background-image: url('../../images/paymill/icon_32x20_dankort.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.tooltip
{
    margin-left: 3px;
    font-size: 11px;
    color: #E2E2E2;
    padding: 0 5px;
    border-radius: 100px;
    background: #636363;
}

.paymill-layer
{
    background-image: url('../../images/paymill/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;

}

.paymill-card-number-grayscale
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}