.paymill_powered {
    border: 1px solid #ccc;
    width: 350px;
    padding: 4px;
    background: white url('../../images/paymill/icon_paymill.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.paymill_powered > .paymill_credits {
    width: 160px;
    color: #666;
}

.paymill_powered > a {
    color: #666;
    text-decoration: underline;
}

.paymill_creditcard_number-visa
{
    background: url('../../images/paymill/icon_32x20_visa.png') no-repeat center right;
}

.paymill_creditcard_number-mastercard
{
    background: url('../../images/paymill/icon_32x20_mastercard.png') no-repeat center right;
}

.paymill_creditcard_number-american
{
    background: url('../../images/paymill/icon_32x20_amex.png') no-repeat center right;
}

.paymill_creditcard_number-jcb
{
    background: url('../../images/paymill/icon_32x20_jcb.png') no-repeat center right;
}

.paymill_creditcard_number-maestro
{
    background: url('../../images/paymill/icon_32x20_maestro.png') no-repeat center right;
}

.paymill_creditcard_number-unionpay
{
    background: url('../../images/paymill/icon_32x20_unionpay.png') no-repeat center right;
}

.paymill_creditcard_number-diners
{
    background: url('../../images/paymill/icon_32x20_dinersclub.png') no-repeat center right;
}

.paymill_creditcard_number-discover
{
    background: url('../../images/paymill/icon_32x20_discover.png') no-repeat center right;
}